* {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    letter-spacing: .05em;
}

img {
    max-width: 100%;
}

.wrap {
    Width: 100%;
    background: #333;
}

p {
    line-height: 2;
    padding: 1em;
}

h2 {
    margin-bottom: .5em;
}
h3 {
    letter-spacing: .25em;
    margin: 1em 0 .75em 0;
}

/* 
==========================================================================================================================
Navigation-Bar
==========================================================================================================================
*/

nav {
    margin-bottom: 1em;
    background: lightgrey;
}

ul {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 1.5em;
}

nav a:hover {
    border-bottom: 3px solid #fff;
}

li {
    list-style: none; 
    margin: 1em .5em;
}


/* 
==========================================================================================================================
Header
==========================================================================================================================
*/

header {
    position: relative;
    width: 80%;
    text-align: center;
}

h1 {
    font-size: 3em;
    position: absolute;
    top: 5px; 
    text-align: center;    
}

.feature-img {
    max-width:;
    max-height: ;
}

/* 
==========================================================================================================================
Welcome
==========================================================================================================================
*/

.container {
    width: 90%;
    margin-top: 2em;
}

/* 
==========================================================================================================================
Portfolio
==========================================================================================================================
*/

figure {
    text-align: center;
}

.text {
    margin: 1em 0 3em;
}

.boxes {
    display: flex;
    flex-flow: row wrap;
}

.box-1 {
    width:500px;    
}



/* 
==========================================================================================================================
Footer
==========================================================================================================================
*/

footer {
    background: lightgrey;
    padding: 1.5em;
    position: relative;
}

small {
    text-align: left;
}

.facebook-icon {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* 
==========================================================================================================================
:Lessons
==========================================================================================================================
*/

.comments {
    display: flex;
    flex-wrap: wrap;
}

.box2 {
    border: 2px solid lightgrey;
    margin: 1em;
}

/* 
==========================================================================================================================
Contact
==========================================================================================================================
*/


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

label {
    display: block;
    margin-bottom: 8px;
  }

label.light {
    font-weight: 300;
    display: inline;
  }




/* 
==========================================================================================================================
Media Queries
==========================================================================================================================
*/
